*{
    box-sizing: border-box;
}

.article{
    max-width: 70%;
    padding: 40px;
    margin:  0 auto;
}
.btn-primary{
    padding: 15px 30px;
    margin-bottom: 10px;
    display: block;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: #0056b3;
}
.image-gallery{
    overflow-x: scroll ;
}
.gallery-content{
    white-space: nowrap;

}
.gallery-content img {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
}